@import "../styles/variables.scss";

.examples {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	list-style: none;
	padding: 0;

    img {
		max-width: 100%;
		filter: grayscale(1);
		transition: filter ease 250ms;
		user-select: none;
		cursor: pointer;
		
		&:hover {
			filter: grayscale(0);
		}
    }
}