@import "../styles/variables.scss";

.examples {
	display: grid;
	grid-gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

	img {
		filter: grayscale(1);
		max-width: 100%;
		border: 5px solid transparent;
		transition: filter ease 250ms, transform ease 250ms;
		user-select: none;
		cursor: pointer;

		&:hover,
		&.selected {
			filter: grayscale(0);
		}

		&.selected {
			border: 5px solid #fff;
			transform: scale(1.05);
			z-index: 5;
		}
	}
}
