@import "../styles/variables.scss";

.example-images {
    max-width: $pixelGrid-width;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    list-style: none;

    img {
		max-width: 100%;
		transition: transform ease 250ms;
		cursor: pointer;
		
		&:hover {
			transform: scale(1.05);
		}
    }
}