@import "../styles/variables.scss";

.pixelGrid {
	min-width: $pixelGrid-width;
	height: $pixelGrid-height;
	display: grid;
	grid-template-columns: repeat(auto-fit, 15px);

	div {
		position: relative;
		background-color: #fff;
		user-select: none;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			outline: 1px solid #222;
			pointer-events: none;
		}
	}
}
