.mainContainer {
	max-width: 1250px;
	height: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	grid-gap: 50px;

	@media (max-width: 1920px) {
		transform: scale(.85);
		max-height: 100vh;
	}
}

.rightPanel {
	text-align: center;

	.logo {
		max-width: 200px;
		margin-bottom: 25px;
	}

	.options {
		width: 100%;
		margin-top: 25px;

		button {
			width: 100%;
			border: none;
			outline: none;
			text-align: center;
			padding: 10px 15px;
			background-color: #ffff00;
			font-family: "Press Start 2P", cursive;
			cursor: pointer;

			&:focus {
				background-color: darken(#ffff00, 5%);
			}
		}
	}
}

.puzzleExamples {
	grid-column: span 2;
}
